:root {
  --main-background: #edf2f8;
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  background-color: var(--main-background);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.article-preview-card {
  position: relative;
  max-width: 327px;
  display: grid;
  grid-template-rows: auto;
  min-height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 30px 0 rgba(0, 20, 67, 0.1);
}

.article-preview-card .article {
  display: grid;
  grid-template-rows: auto;
}

.article-preview-card .article-image {
  margin-bottom: 36px;
  border-radius: 10px 10px 0 0;
  background-image: url(./images/drawers.jpg);
  background-position: 0 0;
  background-size: cover;
  width: 327px;
  height: 200px;
}

.article-description {
  padding: 0 32px;
}

.article-heading {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--very-dark-grayish-blue);
}

.article p {
  color: var(--desaturated-dark-blue);
  margin: 12px 0 32px;
}

.article-writer {
  display: grid;
  grid-template-columns: 40px auto 33px;
  column-gap: 16px;
  align-items: center;
  padding: 0 32px 20px;
}

.article-writer .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.writer-name-date {
}

.writer-name-date .name {
  font-weight: bold;
  color: var(--very-dark-grayish-blue);
}

.writer-name-date .date {
  color: var(--desaturated-dark-blue);
}

.share-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  background-color: var(--light-grayish-blue);
  border-radius: 50%;
  transition: all 0.35s;
  border: 2px solid transparent;
}

.share-button-icon img {
  position: relative;
  top: -1px;
}

.share-button-icon:hover path {
  transition: all 0.35s;
}

.share-button-icon:hover,
.share-button-icon:focus,
.share-button-icon:active {
  background-color: #6e8098;
  cursor: pointer;
}

.share-button-icon:hover path,
.share-button-icon:focus path,
.share-button-icon:active path {
  fill: white;
}

.share-popup {
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  margin: unset;
  background-color: var(--very-dark-grayish-blue);
  padding: 16px 32px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  opacity: 0;
  transition: all 0.35s;
}

.share-popup[open] {
  opacity: 1;
  display: flex;
  align-items: center;
}

.share-popup h2 {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 5px;
}

.share-popup .social-links {
  display: flex;
  column-gap: 21px;
  align-items: center;
  color: var(--grayish-blue);
}

.social-links ul {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.share-popup button {
  margin-left: auto;
  background-color: #6e8098;
}

.popup-arrow-down {
  display: none;
}

/* Responsiveness */

@media screen and (min-width: 980px) {
  .article-preview-card {
    max-width: 730px;
    min-height: 280px;
    grid-template-rows: unset;
    grid-template-columns: auto 445px;
    border-radius: 10px;
  }

  .article-preview-card .article-image {
    border-radius: 10px 0 0 10px;
    margin: 0;
    height: 100%;
    width: 285px;
  }

  .article-heading {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.25px;
  }

  .article p {
    margin: 12px 0 20px;
  }

  .article-description {
    padding-top: 32px;
  }

  .article-writer {
    padding-bottom: 32px;
  }

  .share-popup {
    bottom: 95px;
    right: -76px;
    left: unset;
    border-radius: 10px;
    width: 248px;
    height: 55px;
  }

  .popup-arrow-down {
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid var(--very-dark-grayish-blue);
  }

  .social-links a {
    opacity: 0.7;
    transition: opacity 0.35s;
  }

  .social-links a:hover {
    opacity: 1;
  }

  .desktop-hidden {
    display: none;
  }
}
