:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
}

main {
}

.article-preview-card {
}

.article-heading {
}

.article-description {
}

.article-writer {
}

.writer-name-date {
}

.writer-name-date .name {
}

.writer-name-date .date {
}

.share-button-icon {
  border: none;
  background: none;
}

@media screen and (min-width: 980px) {
  main {
  }

  .article-preview-card {
  }

  .article-heading {
  }

  .article-description {
  }

  .article-writer {
  }

  .writer-name-date {
  }

  .writer-name-date .name {
  }

  .writer-name-date .date {
  }

  .share-button-icon {
  }
}
