:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.article-preview-card {
  max-width: 370px;
  display: grid;
  grid-template-rows: auto 64px;
  min-height: 100%;
}

.article-heading {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.article-description {
}

.article-description p {
  margin: 12px 0 32px;
}

.article-writer {
  display: grid;
  grid-template-columns: 40px auto 33px;
  column-gap: 16px;
  align-items: center;
}

.article-writer .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.writer-name-date {
}

.writer-name-date .name {
}

.writer-name-date .date {
}

.share-button-icon {
  border: none;
  background: none;
}

@media screen and (min-width: 980px) {
  main {
  }

  .article-preview-card {
  }

  .article-heading {
  }

  .article-description {
  }

  .article-writer {
  }

  .writer-name-date {
  }

  .writer-name-date .name {
  }

  .writer-name-date .date {
  }

  .share-button-icon {
  }
}
